 <div align="center">
	<h1> 关于我们 </h1>

	<img src="images/yjy.JPG" style="width:1024px;height:700px;text-align:center">
	
	<!--
	<p align="left">			产品研发中心工作主要包括两个核心内容。其一是教学产品标准化，设计开发新产品，更新现有产品，持续对产品进行创新与升级，同时将创新产品转化为标准化产品，丰富教学产品线，以适应市场需求，增加竞争力；其二是筋斗云模式运营，根据公司总体战略规划，对模式的沉淀与创新；
	</p>
	
	<div align="left">
		<h3> 部门职责 </h3>
		<p>制定产品研发管理规范，建立健全产品的运营管理体系、流程制度等标准化建设，推行并优化研发管理体系。</p>
		<p>制定产品对外对接工作流程与规范，对产品授权进行审核及处理。</p>
		<p>参与新产品研发的可行性论证，负责产品立项，对产品研发过程实施监督，确保产品研发工作顺利进行。</p>
		<p>不断组织规划针对现有产品的技术改进，提高产品市场竞争力。</p>
		<p>对产品进行市场包装，对产品模式的沉淀与创新。</p>
		<p>应对不同客户群体制定筋斗云可执行方案，不断对筋斗云模式的沉淀与创新。</p>
		<p>分析总结研发经验，组织分享会进行推广，形成内部技术和知识方面的资源库。</p>
		<p>研发团队的建设，根据公司总体战略规划，提前储备技术资源。</p>
	</div>
	-->
</div>