<div class="user-details">
  <h1> 说明文档 </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 教学产品研发手册 </h3>
	<!--
    <ul>
      <li> 筋斗云课堂</li>
    </ul>
	--> 
   <p>此文档为部门内部制定并使用的教学产品研发指导手册，为更快了解教学产品研发流程，保障研发工作有序进行，减少不必要的工作，本文档从产品模式到组成到发布进行了整体概述说明。本文档适合研究院教学产品研发人员以及教研教师查看；</p>
    <a class="project-link" href="pages/develop.pdf">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/file1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 文件存储结构规范 </h3>
    <p>本文档为研究院教学中心所有工作文档的存储规范，主要涉及对内教学产品及教案等资源的GIT存储规范、对内视频资源备份的FTP存储规范、对外视频发放的云盘存储规范，请各中心按规范进行文件存储。</p>
    <a class="project-link" href="pages/file.pdf">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 任务书规范 </h3>
    <p>任务书的主要使用对象是学员，学员通过它的指导可独立完成任务，通过任务书来引导学员分析问题，梳理实现步骤，传授实际经验，提示实施重难点。</p>
    <a class="project-link" href="pages/TaskBook.pdf">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 教学PPT规范 </h3>
    <p>在学员任务书中，每个任务都有所涉及的核心技能，教学PPT就是为教师教授这些技能而准备的参考规范，教学PPT需要明确教学内容的教学目标、重点、难点及阐述的内容。本文档将从设计要求和编写要求两方向做出规范说明。</p>
    <a class="project-link" href="pages/ppt.pdf">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/j1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 产品发布流程规范 </h3>
    <p>教学产品的研发是迭代式，持续集成与交互的敏捷研发模式，加快产品的更新迭代，第一时间将产品推向市场落地执行，持续提升产品质量，本文档针对此持续集成交付的模式下，对产品发布流程做出规范说明。</p>
    <a class="project-link" href="pages/release.pdf">Check it out</a>
  </div>
</div>